Repository Azure-Samples/modern-data-warehouse-dataops, pull requests merged in 2021-04, with the labels that each got.

#227 single-tech/databricks sample2 task 196 nsg idempotent
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/securitygroup/securitygroup.template.json
Labels: MVP, Sample-2, single-tech: azure-databricks

#248 Update the name of the script and script itself to use account key
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/README.md
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/access-data-directly-via-account-key.ipy
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/access-data-mount-via-account-key.ipy
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/scripts/import-data-access-notebooks.sh
Labels: MVP, Sample-3, single-tech: azure-databricks

#231 single-tech/databricks sample2 task 224 Firewall
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/deploy.sh
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/firewall/firewall.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/firewall/firewall.template.json
Labels: MVP, Sample-2, single-tech: azure-databricks

#247 feat(hubvnet): include service endpoint for storage accounts. Closes #243
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/firewall/firewall.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/vnet/vnet.template.json
Labels: MVP, Sample-2, single-tech: azure-databricks

#249 Single tech/databricks bug fixes
  single_tech_samples/databricks/Common_Assets/Images/ADE_Firewall.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Firewall_AR.png
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/README.md
Labels: Sample-2, bug, documentation, single-tech: azure-databricks

#257 fix(destroy): update deletion of service-endpoints. Closes #256
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/destroy.sh
Labels: MVP, Sample-2, bug, single-tech: azure-databricks

#282 Fixing Linter Bugs
  .github/workflows/credscan.yml
  .github/workflows/documentation.yml
  .github/workflows/yaml.yml
  single_tech_samples/databricks/README.md
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/README.md
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/README.md
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/README.md
Labels: documentation, single-tech: azure-databricks

#181 docs(github-templates): adding different kind of issue templates and update the pull request template.
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/designreview.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/found-dead-links.md
  .github/ISSUE_TEMPLATE/issue.md
  .github/ISSUE_TEMPLATE/new-sample-setup.md
  .github/ISSUE_TEMPLATE/sample-complete-review.md
  .github/ISSUE_TEMPLATE/spike.md
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/userstory.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, enhancement

#296 Single tech/databricks 295 remove subnet
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/deploy.sh
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/keyvault/keyvault.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/keyvault/keyvault.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/storageaccount/storageaccount.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/storageaccount/storageaccount.template.json
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/scripts/deploy-default-and-hc-clusters.sh
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/scripts/upload-sample-data.sh
Labels: Sample-2, bug, single-tech: azure-databricks

#302 Add acl pass through steps
  e2e_samples/dataset_versioning/README.md
  e2e_samples/dataset_versioning/databricks/README.md
Labels: e2e: dataset-versioning

#308 tidying readme for readability
  e2e_samples/dataset_versioning/datafactory/README.md
  e2e_samples/dataset_versioning/infra/README.md
Labels: e2e: dataset-versioning

#313 Fix url link
  e2e_samples/dataset_versioning/README.md
Labels: e2e: dataset-versioning

#311 Add e2e sample overview in readme
  README.md
Labels: e2e: dataset-versioning
