Repository Azure-Samples/modern-data-warehouse-dataops, pull requests merged in 2021-03, with the labels that each got.

#168 Adding devcontainer and extensions
  single_tech_samples/databricks/.devcontainer/Dockerfile
  single_tech_samples/databricks/.devcontainer/devcontainer.json
  single_tech_samples/databricks/project_lumus/README.md
Labels: MVP, single-tech: azure-databricks

#176 Single tech/databricks 145 iac basic arm for key vault
  single_tech_samples/databricks/.devcontainer/Dockerfile
  single_tech_samples/databricks/.devcontainer/devcontainer.json
  single_tech_samples/databricks/Cluster_Deployment/README.md
  single_tech_samples/databricks/Cluster_Deployment/databricks/workspace.parameters.json
  single_tech_samples/databricks/Cluster_Deployment/databricks/workspace.template.json
  single_tech_samples/databricks/Cluster_Deployment/keyvault/keyvault.parameters.json
  single_tech_samples/databricks/Cluster_Deployment/keyvault/keyvault.template.json
  single_tech_samples/databricks/project_lumus/README.md
Labels: MVP, single-tech: azure-databricks

#180 Single tech/databricks 145 iac basic script
  single_tech_samples/databricks/.devcontainer/Dockerfile
  single_tech_samples/databricks/.devcontainer/devcontainer.json
  single_tech_samples/databricks/Cluster_Deployment/databricks/workspace.template.json
  single_tech_samples/databricks/Cluster_Deployment/deploy.sh
  single_tech_samples/databricks/Cluster_Deployment/destroy.sh
  single_tech_samples/databricks/Cluster_Deployment/keyvault/keyvault.template.json
  single_tech_samples/databricks/Cluster_Deployment/storageaccount/storageaccount.parameters.json
  single_tech_samples/databricks/Cluster_Deployment/storageaccount/storageaccount.template.json
Labels: MVP, single-tech: azure-databricks

#186 Single tech/databricks 145 iac basic
  single_tech_samples/databricks/.devcontainer/Dockerfile
  single_tech_samples/databricks/.devcontainer/devcontainer.json
  single_tech_samples/databricks/Cluster_Deployment/README.md
  single_tech_samples/databricks/Cluster_Deployment/databricks/workspace.parameters.json
  single_tech_samples/databricks/Cluster_Deployment/databricks/workspace.template.json
  single_tech_samples/databricks/Cluster_Deployment/deploy.sh
  single_tech_samples/databricks/Cluster_Deployment/destroy.sh
  single_tech_samples/databricks/Cluster_Deployment/keyvault/keyvault.parameters.json
  single_tech_samples/databricks/Cluster_Deployment/keyvault/keyvault.template.json
  single_tech_samples/databricks/Cluster_Deployment/storageaccount/storageaccount.parameters.json
  single_tech_samples/databricks/Cluster_Deployment/storageaccount/storageaccount.template.json
  single_tech_samples/databricks/Common_Assets/Images/IAC_Adb.png
  single_tech_samples/databricks/Common_Assets/Images/IAC_Architecture.png
  single_tech_samples/databricks/Common_Assets/Images/IAC_Deployment_Logs.png
  single_tech_samples/databricks/Common_Assets/Images/IAC_Storage.png
Labels: MVP, Sample-1, single-tech: azure-databricks

#189 fix(destroy-script): typo on resource group
  single_tech_samples/databricks/Cluster_Deployment/destroy.sh
Labels: MVP, Sample-1, bug, single-tech: azure-databricks

#173 add upload and download notebooks makefile
  e2e_samples/parking_sensors/databricks/notebooks/Makefile
Labels: e2e: parking-sensors

#192 Single tech/databricks 182 linters
  single_tech_samples/databricks/.devcontainer/Dockerfile
  single_tech_samples/databricks/.devcontainer/devcontainer.json
  single_tech_samples/databricks/Makefile
  single_tech_samples/databricks/README.md
Labels: MVP, single-tech: azure-databricks

#193 Single tech/databricks 146 vnet injection
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/databricks/workspace.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/databricks/workspace.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/deploy.sh
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/destroy.sh
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/keyvault/keyvault.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/keyvault/keyvault.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/securitygroup/securitygroup.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/securitygroup/securitygroup.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/storageaccount/storageaccount.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/storageaccount/storageaccount.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/vnet/vnet.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/vnet/vnet.template.json
Labels: MVP, Sample-2, single-tech: azure-databricks

#188 Single tech/databricks 160 sample documentation
  single_tech_samples/databricks/Common_Assets/Images/IAC_Adb.png
  single_tech_samples/databricks/Common_Assets/Images/IAC_Architecture.png
  single_tech_samples/databricks/Common_Assets/Images/IAC_Keyvault.png
  single_tech_samples/databricks/Common_Assets/Images/IAC_Script_Deploy.png
  single_tech_samples/databricks/Common_Assets/Images/IAC_Script_Teardown.png
  single_tech_samples/databricks/Common_Assets/Images/IAC_Storage.png
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/README.md
Labels: MVP, Sample-1, documentation, single-tech: azure-databricks

#203 Firewall and hub and Spoke implementation
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/keyvault/keyvault.parameters.json
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/storageaccount/storageaccount.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/databricks/workspace.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/databricks/workspace.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/deploy.sh
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/destroy.sh
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/firewall/firewall.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/firewall/firewall.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/keyvault/keyvault.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/routetable/routetable.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/routetable/routetable.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/securitygroup/securitygroup.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/storageaccount/storageaccount.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/vnet/vnet.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/vnet/vnet.template.json
Labels: MVP, Sample-2, single-tech: azure-databricks

#194 Single tech/databricks 178 cluster provisioning
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/cluster-config.example.json
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/deploy-cluster.sh
Labels: MVP, Sample-3, single-tech: azure-databricks

#207 Single tech/databricks sample2 147 secure cluster
  single_tech_samples/databricks/.devcontainer/devcontainer.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/deploy.sh
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/destroy.sh
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/example-dotenv
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/keyvault/keyvault.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/keyvault/keyvault.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/keyvault/privateendpoint.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/keyvault/privateendpoint.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/storageaccount/privateendpoint.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/storageaccount/privateendpoint.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/storageaccount/storageaccount.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/storageaccount/storageaccount.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/vnet/vnet.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/vnet/vnet.template.json
Labels: MVP, Sample-2, single-tech: azure-databricks

#215 Single tech/databricks 195 bug destroy
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/destroy.sh
Labels: MVP, bug, single-tech: azure-databricks

#219 Single tech/databricks 211 default region west us
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/databricks/workspace.parameters.json
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/databricks/workspace.template.json
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/deploy.sh
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/destroy.sh
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/keyvault/keyvault.parameters.json
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/storageaccount/storageaccount.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/databricks/workspace.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/databricks/workspace.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/deploy.sh
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/destroy.sh
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/example-dotenv
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/firewall/firewall.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/firewall/firewall.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/keyvault/keyvault.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/keyvault/privateendpoint.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/keyvault/privateendpoint.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/routetable/routetable.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/routetable/routetable.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/securitygroup/securitygroup.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/storageaccount/privateendpoint.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/storageaccount/privateendpoint.template.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/storageaccount/storageaccount.parameters.json
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/vnet/vnet.parameters.json
Labels: MVP, single-tech: azure-databricks

#216 Single tect/databricks cleanup
  single_tech_samples/databricks/Common_Assets/Images/MIT.svg
  single_tech_samples/databricks/Common_Assets/Images/Open_Source.svg
  single_tech_samples/databricks/Common_Assets/Images/Status-Active.svg
  single_tech_samples/databricks/Continuous_Delivery/README.md
  single_tech_samples/databricks/Continuous_Integration/README.md
  single_tech_samples/databricks/README.md
  single_tech_samples/databricks/project_lumus/Business_Case.pptx
  single_tech_samples/databricks/project_lumus/README.md
  single_tech_samples/databricks/project_lumus/Sample_Datasets.md
  single_tech_samples/databricks/project_lumus/VSA_alignment.png
  single_tech_samples/databricks/project_lumus/requirements/iac_questionaire.md
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/README.md
Labels: MVP, documentation, single-tech: azure-databricks

#223 Update sample 1 with code from bug fix #221
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/destroy.sh
Labels: Sample-1, bug, single-tech: azure-databricks

#220 Single tech/databricks 197 sample2 readme
  single_tech_samples/databricks/Common_Assets/Images/ADE_Adb.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Architecture.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Deployment.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Deployment_Logs.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Firewall.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Firewall_Deny.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Hub.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_IP.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Keyvault.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_NSG.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_PL.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Route.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Script_Deploy.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Script_Teardown.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Spoke.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Storage.png
  single_tech_samples/databricks/Common_Assets/Images/ADE_Subnet.png
  single_tech_samples/databricks/sample2_enterprise_azure_databricks_environment/README.md
Labels: MVP, Sample-2, documentation, single-tech: azure-databricks

#217 Single tech/databricks 179 get data
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/databricks/workspace.parameters.json
  single_tech_samples/databricks/sample1_basic_azure_databricks_environment/deploy.sh
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/.gitignore
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/README.md
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/access-data-mount-via-account-key.ipy
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/access-data-mount-via-ad-passthrough.ipy
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/cluster-config.default.json
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/cluster-config.example.json
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/cluster-config.high-concurrency.json
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/deploy.sh
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/sample-data.us-population.json
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/scripts/configure-databricks-cli.sh
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/scripts/deploy-default-and-hc-clusters.sh
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/scripts/import-data-access-notebooks.sh
  single_tech_samples/databricks/sample3_cluster_provisioning_and_data_access/scripts/upload-sample-data.sh
Labels: MVP, Sample-3, single-tech: azure-databricks
