Repository Azure-Samples/modern-data-warehouse-dataops, pull requests merged in 2021-02, with the labels that each got.

#117 Removal of old links to previous Build and Release Pipelines (visual editor)
  e2e_samples/parking_sensors/README.md
Labels: parking-sensors

#121 fix(temperature-events readme): liniting issues
  e2e_samples/temperature_events/README.md
Labels: e2e

#124 123 fix naming
  e2e_samples/temperature_events/Functions/.config/dotnet-tools.json
  e2e_samples/temperature_events/Functions/TemperatureEventsProj.Test/DeviceIdFilterTest.cs
  e2e_samples/temperature_events/Functions/TemperatureEventsProj/.gitignore
  e2e_samples/temperature_events/Functions/TemperatureEventsProj/DeviceIdFilter.cs
  e2e_samples/temperature_events/Functions/TemperatureEventsProj/TemperatureFilter.cs
  e2e_samples/temperature_events/Functions/TemperatureEventsProj/host.json
  e2e_samples/temperature_events/Functions/TemperatureEventsProj/local.settings.template.json
  e2e_samples/temperature_events/Infra/README.md
  e2e_samples/temperature_events/Infra/setup.sh
  e2e_samples/temperature_events/Infra/terraform/modules/eventhubs/outputs.tf
  e2e_samples/temperature_events/Infra/terraform/modules/services/main.tf
  e2e_samples/temperature_events/Infra/terraform/modules/services/variables.tf
  e2e_samples/temperature_events/LoadTesting/IoTSimulator.ps1
  e2e_samples/temperature_events/LoadTesting/LoadTestCheckResult.ps1
  e2e_samples/temperature_events/README.md
  e2e_samples/temperature_events/devops/azure-pipelines-ci-artifacts.yml
Labels: Tech: Terraform

#135 Fix depends on issue and remove deprecating feature
  e2e_samples/temperature_events/infra/terraform/live/dev/main.tf
  e2e_samples/temperature_events/infra/terraform/modules/services/main.tf
Labels: Tech: Terraform

#140 feat: update main readme, minor fixes to shellscripts, and readme in …
  README.md
  e2e_samples/temperature_events/functions/README.md
  e2e_samples/temperature_events/infra/README.md
  e2e_samples/temperature_events/infra/setup.sh
  e2e_samples/temperature_events/loadtesting/README.md
Labels: e2e

#137 E2e/temperature events milestone1 into Main
  .gitignore
  .pre-commit-config.yaml
  README.md
  e2e_samples/temperature_events/README.md
  e2e_samples/temperature_events/devops/azure-pipelines-ci-artifacts.yml
  e2e_samples/temperature_events/functions/.config/dotnet-tools.json
  e2e_samples/temperature_events/functions/.editorconfig
  e2e_samples/temperature_events/functions/README.md
  e2e_samples/temperature_events/functions/TemperatureEventsProj.Test/DeviceIdFilterTest.cs
  e2e_samples/temperature_events/functions/TemperatureEventsProj.Test/TemperatureEventsProj.Test.csproj
  e2e_samples/temperature_events/functions/TemperatureEventsProj.Test/TemperatureFilterTest.cs
  e2e_samples/temperature_events/functions/TemperatureEventsProj/.gitignore
  e2e_samples/temperature_events/functions/TemperatureEventsProj/DeviceIdFilter.cs
  e2e_samples/temperature_events/functions/TemperatureEventsProj/Models/DeviceEvent.cs
  e2e_samples/temperature_events/functions/TemperatureEventsProj/TemperatureEventsProj.csproj
  e2e_samples/temperature_events/functions/TemperatureEventsProj/TemperatureFilter.cs
  e2e_samples/temperature_events/functions/TemperatureEventsProj/host.json
  e2e_samples/temperature_events/functions/TemperatureEventsProj/local.settings.template.json
  e2e_samples/temperature_events/functions/TemperatureEventsSln.sln
  e2e_samples/temperature_events/functions/host.json
  e2e_samples/temperature_events/images/application_map.png
  e2e_samples/temperature_events/images/azure_pipeline_setup.png
  e2e_samples/temperature_events/images/azure_pipeline_var_group.png
  e2e_samples/temperature_events/images/correlated_logs.png
  e2e_samples/temperature_events/images/e2e_transaction_detail_parallel.png
  e2e_samples/temperature_events/images/e2e_transaction_detail_sequential.png
  e2e_samples/temperature_events/images/function-deviceidfilter.png
  e2e_samples/temperature_events/images/function-temperaturefilter.png
  e2e_samples/temperature_events/images/function_instances_from_logs.png
  e2e_samples/temperature_events/images/function_instances_live_metrics.png
  e2e_samples/temperature_events/images/loadtesting_git_import.png
  e2e_samples/temperature_events/images/loadtesting_git_import_url.png
  e2e_samples/temperature_events/images/observability_eventhubmetrics.png
  e2e_samples/temperature_events/images/observability_portaldashboard.png
  e2e_samples/temperature_events/images/temperature-events-architecture.png
  e2e_samples/temperature_events/images/var_group_secrets.png
  e2e_samples/temperature_events/infra/README.md
  e2e_samples/temperature_events/infra/infra-ado-ci-pipeline-test.yml
  e2e_samples/temperature_events/infra/infra-ado-ci-pipeline.yml
  e2e_samples/temperature_events/infra/infra-ado-pipeline-template.yml
  e2e_samples/temperature_events/infra/setup.sh
  e2e_samples/temperature_events/infra/terraform/live/dev/main.tf
  e2e_samples/temperature_events/infra/terraform/live/dev/variables.tf
  e2e_samples/temperature_events/infra/terraform/modules/eventhubs/main.tf
  e2e_samples/temperature_events/infra/terraform/modules/eventhubs/outputs.tf
  e2e_samples/temperature_events/infra/terraform/modules/eventhubs/variables.tf
  e2e_samples/temperature_events/infra/terraform/modules/functions/locals.tf
  e2e_samples/temperature_events/infra/terraform/modules/functions/main.tf
  e2e_samples/temperature_events/infra/terraform/modules/functions/outputs.tf
  e2e_samples/temperature_events/infra/terraform/modules/functions/variables.tf
  e2e_samples/temperature_events/infra/terraform/modules/services/locals.tf
  e2e_samples/temperature_events/infra/terraform/modules/services/main.tf
  e2e_samples/temperature_events/infra/terraform/modules/services/variables.tf
  e2e_samples/temperature_events/loadtesting/IoTSimulator.ps1
  e2e_samples/temperature_events/loadtesting/LoadTestCheckResult.ps1
  e2e_samples/temperature_events/loadtesting/README.md
  e2e_samples/temperature_events/loadtesting/loadtest-pipeline.yml
Labels: e2e
