Repository Azure-Samples/modern-data-warehouse-dataops, pull requests merged in 2024-11, with the labels that each got.

#776 Update devcontainer with java and non-root user
  e2e_samples/parking_sensors/.devcontainer/Dockerfile
  e2e_samples/parking_sensors/.devcontainer/devcontainer.json
  e2e_samples/parking_sensors/.devcontainer/post_create.sh
Labels: bug, e2e: parking-sensors-databricks

#783 feat: fixing main deployment issues
  e2e_samples/parking_sensors/.devcontainer/Dockerfile
  e2e_samples/parking_sensors/.devcontainer/post_create.sh
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/databricks/config/cluster.config.json
  e2e_samples/parking_sensors/databricks/config/cluster.config.template.json
  e2e_samples/parking_sensors/databricks/config/job.setup.config.json
  e2e_samples/parking_sensors/databricks/config/libs.config.json
  e2e_samples/parking_sensors/docs/images/databricks_ws.png
  e2e_samples/parking_sensors/infrastructure/main.bicep
  e2e_samples/parking_sensors/infrastructure/modules/databricks.bicep
  e2e_samples/parking_sensors/infrastructure/modules/synapse_sql_pool.bicep
  e2e_samples/parking_sensors/scripts/configure_databricks.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
  e2e_samples/parking_sensors/src/ddo_transform/requirements_dev.txt
Labels: bug, P0, e2e: parking-sensors-databricks

#816 fix: db cli secure install, remove remote user
  e2e_samples/parking_sensors/.devcontainer/Dockerfile
  e2e_samples/parking_sensors/.devcontainer/devcontainer.json
  e2e_samples/parking_sensors/.devcontainer/post_create.sh
Labels: bug, P0, e2e: parking-sensors-databricks

#818 fix (parking sensors databricks): devcontainer, deployment, db cli upgrade
  archive/e2e_samples/deployment_stamps/README.md
  archive/e2e_samples/deployment_stamps/docs/.images/architecture-without-routing.jpg
  archive/e2e_samples/deployment_stamps/docs/.images/postman-token1.png
  archive/e2e_samples/deployment_stamps/docs/.images/postman-token2.png
  archive/e2e_samples/deployment_stamps/docs/.images/postman-token3.png
  archive/e2e_samples/deployment_stamps/docs/.images/postman-token4.png
  archive/e2e_samples/deployment_stamps/docs/.images/postman-token5.png
  archive/e2e_samples/deployment_stamps/docs/.images/postman-token6.png
  archive/e2e_samples/deployment_stamps/docs/POSTMAN.md
  docs/images/ADFRun.PNG
  docs/images/CI_CD_process.PNG
  docs/images/CI_CD_process_sequence.PNG
  docs/images/PBI_parking_sensors.PNG
  docs/images/ReleasePipeline.PNG
  docs/images/Release_1_Agent_DeployToDatabricks.PNG
  docs/images/architecture.PNG
  docs/images/troubleshooting/conditional_access_error.PNG
  docs/images/troubleshooting/token_expiration_workaround.PNG
  e2e_samples/parking_sensors/.devcontainer/Dockerfile
  e2e_samples/parking_sensors/.devcontainer/devcontainer.json
  e2e_samples/parking_sensors/.devcontainer/post_create.sh
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/databricks/config/cluster.config.json
  e2e_samples/parking_sensors/databricks/config/cluster.config.template.json
  e2e_samples/parking_sensors/databricks/config/job.setup.config.json
  e2e_samples/parking_sensors/databricks/config/libs.config.json
  e2e_samples/parking_sensors/docs/images/databricks_ws.png
  e2e_samples/parking_sensors/infrastructure/main.bicep
  e2e_samples/parking_sensors/infrastructure/modules/databricks.bicep
  e2e_samples/parking_sensors/infrastructure/modules/synapse_sql_pool.bicep
  e2e_samples/parking_sensors/scripts/configure_databricks.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
  e2e_samples/parking_sensors/src/ddo_transform/requirements_dev.txt
Labels: bug, P0, e2e: parking-sensors-databricks

#793 Adding sample utility script
  README.md
  single_tech_samples/fabric/fabric_ci_cd/README.md
  utilities/README.md
  utilities/fabric/README.md
  utilities/fabric/images/lakehouse-file-upload.png
  utilities/fabric/lakehouse-file-upload/.envtemplate
  utilities/fabric/lakehouse-file-upload/requirements.txt
  utilities/fabric/lakehouse-file-upload/upload-file-to-lakehouse.py
Labels: utils: fabric

#657 feat: introduce nyc weather features to feature-engineering on fabric single-tech sample
  linkspector.yml
  single_tech_samples/fabric/feature_engineering_on_fabric/README.md
  single_tech_samples/fabric/feature_engineering_on_fabric/images/data_lineage/feature_lineage.gif
  single_tech_samples/fabric/feature_engineering_on_fabric/images/data_lineage/model_training_lineage.gif
  single_tech_samples/fabric/feature_engineering_on_fabric/images/data_pipeline/data_pipeline_01.png
  single_tech_samples/fabric/feature_engineering_on_fabric/images/data_pipeline/data_pipeline_07.png
  single_tech_samples/fabric/feature_engineering_on_fabric/images/data_pipeline/data_pipeline_08.png
  single_tech_samples/fabric/feature_engineering_on_fabric/images/data_pipeline/data_pipeline_09.png
  single_tech_samples/fabric/feature_engineering_on_fabric/images/data_pipeline/data_pipeline_10.png
  single_tech_samples/fabric/feature_engineering_on_fabric/images/fabric_spark_env_1.gif
  single_tech_samples/fabric/feature_engineering_on_fabric/images/fabric_spark_env_1.png
  single_tech_samples/fabric/feature_engineering_on_fabric/images/inferencing_result.png
  single_tech_samples/fabric/feature_engineering_on_fabric/images/inferencing_result_2.png
  single_tech_samples/fabric/feature_engineering_on_fabric/images/managed_feature_store.gif
  single_tech_samples/fabric/feature_engineering_on_fabric/src/notebooks/data_cleansing.ipynb
  single_tech_samples/fabric/feature_engineering_on_fabric/src/notebooks/data_transformation.ipynb
  single_tech_samples/fabric/feature_engineering_on_fabric/src/notebooks/exploratory_data_analysis.ipynb
  single_tech_samples/fabric/feature_engineering_on_fabric/src/notebooks/feature_set_registration.ipynb
  single_tech_samples/fabric/feature_engineering_on_fabric/src/notebooks/feature_set_retrieval.ipynb
  single_tech_samples/fabric/feature_engineering_on_fabric/src/notebooks/model_inferencing.ipynb
  single_tech_samples/fabric/feature_engineering_on_fabric/src/notebooks/model_training.ipynb
Labels: single-tech: fabric

#838 feat: add Fabric E2E Data Pipeline diagram
  e2e_samples/fabric_dataops_sample/README.md
  e2e_samples/fabric_dataops_sample/images/fabric_archi.drawio
  e2e_samples/fabric_dataops_sample/images/fabric_archi.png
Labels: e2e: fabric

#866 Added function to validated if the
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
Labels: bug, P1

#890 Ayelghaz/az logins standardizing 685 v3
  e2e_samples/parking_sensors/scripts/verify_prerequisites.sh
  e2e_samples/parking_sensors/src/ddo_transform/requirements.txt
  single_tech_samples/fabric/fabric_ci_cd/README.md
  single_tech_samples/fabric/fabric_ci_cd/scripts/update-token-to-azdo-variable/update-token-to-azdo-variable.sh
Labels: e2e: parking-sensors-databricks

#901 Update deploy_infrastructure.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
Labels: bug, e2e: parking-sensors-databricks

#907 revert: PR 890 due to inconsistecy
  e2e_samples/parking_sensors/scripts/verify_prerequisites.sh
  single_tech_samples/fabric/fabric_ci_cd/README.md
  single_tech_samples/fabric/fabric_ci_cd/scripts/update-token-to-azdo-variable/update-token-to-azdo-variable.sh
Labels: bug, P0, e2e: parking-sensors-databricks

#874 Add Key Vault Soft Delete Flag
  e2e_samples/parking_sensors/.devcontainer/.envtemplate
  e2e_samples/parking_sensors/.devcontainer/docker-compose.yml
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/databricks/config/cluster.config.json
  e2e_samples/parking_sensors/deploy.sh
  e2e_samples/parking_sensors/docs/devcontainer.md
  e2e_samples/parking_sensors/infrastructure/main.bicep
  e2e_samples/parking_sensors/infrastructure/modules/keyvault.bicep
  e2e_samples/parking_sensors/scripts/deploy_azdo_service_connections_azure.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_service_connections_github.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
  e2e_samples/parking_sensors/scripts/init_environment.sh
Labels: P0, e2e: parking-sensors-databricks
