Repository Azure-Samples/modern-data-warehouse-dataops, pull requests merged in 2024-12, with the labels that each got.

#915 Change Clean-up script: include KeyVault Soft Delete and handle purge when applicable
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/infrastructure/main.bicep
  e2e_samples/parking_sensors/infrastructure/modules/keyvault.bicep
  e2e_samples/parking_sensors/scripts/clean_up.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
  e2e_samples/parking_sensors/scripts/init_environment.sh
Labels: e2e: parking-sensors-databricks

#922 move images from root folder to isolate sample changes
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/docs/images/ADFRun.png
  e2e_samples/parking_sensors/docs/images/CI_CD_process.png
  e2e_samples/parking_sensors/docs/images/CI_CD_process_sequence.png
  e2e_samples/parking_sensors/docs/images/PBI_parking_sensors.png
  e2e_samples/parking_sensors/docs/images/ReleasePipeline.png
  e2e_samples/parking_sensors/docs/images/architecture.png
Labels: documentation

#914 Readme and deploy_azdo_pipelines change
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/scripts/common.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_pipelines.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
Labels: P2, e2e: parking-sensors-databricks

#906 ADR for defining naming convention for Fabric E2E sample
  e2e_samples/fabric_dataops_sample/docs/adr_naming_convention.md
Labels: documentation, P2, e2e: fabric

#862 Create initial version of notebooks
  e2e_samples/fabric_dataops_sample/README.md
  e2e_samples/fabric_dataops_sample/config/application.cfg.template
  e2e_samples/fabric_dataops_sample/config/fabric_environment/azure_monitor_opentelemetry-1.6.1-py3-none-any.whl
  e2e_samples/fabric_dataops_sample/config/fabric_environment/environment.yml
  e2e_samples/fabric_dataops_sample/config/fabric_environment/otel_monitor_invoker.py
  e2e_samples/fabric_dataops_sample/config/lakehouse_ddls.yaml
  e2e_samples/fabric_dataops_sample/images/config-update-workflow.drawio
  e2e_samples/fabric_dataops_sample/images/config-update-workflow.png
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/locals.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/appinsights/outputs.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/appinsights/variables.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/data_pipeline/variables.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/lakehouse/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/lakehouse/variables.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/notebook/variables.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/keyvault/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/keyvault/variables.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/keyvault_secret/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/keyvault_secret/output.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/keyvault_secret/variables.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/outputs.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/variables.tf
  e2e_samples/fabric_dataops_sample/scripts/deploy_infrastructure.sh
  e2e_samples/fabric_dataops_sample/src/data-pipelines/pl-covid-data-content.json
  e2e_samples/fabric_dataops_sample/src/notebooks/00_setup.ipynb
  e2e_samples/fabric_dataops_sample/src/notebooks/02_standardize.ipynb
  e2e_samples/fabric_dataops_sample/src/notebooks/03_transform.ipynb
  e2e_samples/fabric_dataops_sample/src/notebooks/nb-covid-data.ipynb
  e2e_samples/fabric_dataops_sample/src/pipelines/00-main.json
  pyproject.toml
Labels: e2e: fabric

#945 pre-commit hook fix (removing no-commit-to-branch (main) hook.
  .pre-commit-config.yaml
  docs/pre_commit_guide.md
Labels: e2e: fabric

#942 fix: adding TLS definition in sql ded pool
  e2e_samples/parking_sensors/infrastructure/modules/synapse_sql_pool.bicep
Labels: P0, e2e: parking-sensors-databricks

#939 Decrease Steps to Deployment - Login
  e2e_samples/parking_sensors/.devcontainer/post_create.sh
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/deploy.sh
  e2e_samples/parking_sensors/scripts/init_environment.sh
Labels: e2e: parking-sensors-databricks

#950 docs(e2e-fabric): add known limitations and workarounds
  e2e_samples/fabric_dataops_sample/README.md
  e2e_samples/fabric_dataops_sample/docs/issues_limitations_and_workarounds.md
Labels: e2e: fabric

#957 834 - cleanup infra
  .gitignore
  e2e_samples/fabric_dataops_sample/.envtemplate
  e2e_samples/fabric_dataops_sample/README.md
  e2e_samples/fabric_dataops_sample/cleanup.sh
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/main.tf
  e2e_samples/fabric_dataops_sample/scripts/cleanup_infrastructure.sh
Labels: e2e: fabric

#930 ADR on Fabric E2E Sample CICD flow
  e2e_samples/fabric_dataops_sample/README.md
  e2e_samples/fabric_dataops_sample/docs/adr_fabric_cicd.md
  e2e_samples/fabric_dataops_sample/docs/adr_naming_convention.md
  e2e_samples/fabric_dataops_sample/images/fabric-archi.drawio
  e2e_samples/fabric_dataops_sample/images/fabric-archi.png
  e2e_samples/fabric_dataops_sample/images/fabric-cicd-option1.drawio
  e2e_samples/fabric_dataops_sample/images/fabric-cicd-option1.png
  e2e_samples/fabric_dataops_sample/images/fabric-cicd-option2.drawio
  e2e_samples/fabric_dataops_sample/images/fabric-cicd-option2.png
Labels: e2e: fabric

#953 [Fabric E2E Sample] Minor bug fixes
  .gitignore
  e2e_samples/fabric_dataops_sample/deploy.sh
  e2e_samples/fabric_dataops_sample/images/fabric-cicd-option1.drawio
  e2e_samples/fabric_dataops_sample/images/fabric-cicd-option2.drawio
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/locals.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/adls/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_environment_settings/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_environment_settings/outputs.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_environment_settings/variables.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_workspace_settings/variables.tf
  e2e_samples/fabric_dataops_sample/scripts/deploy_infrastructure.sh
  e2e_samples/fabric_dataops_sample/scripts/setup_fabric_environment.py
Labels: python, e2e: fabric

#962 [Databricks E2E] Refactor code and log messages to `stderr`
  e2e_samples/parking_sensors/.devcontainer/Dockerfile
  e2e_samples/parking_sensors/deploy.sh
  e2e_samples/parking_sensors/scripts/clean_up.sh
  e2e_samples/parking_sensors/scripts/common.sh
  e2e_samples/parking_sensors/scripts/configure_databricks.sh
  e2e_samples/parking_sensors/scripts/deploy_adf_artifacts.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_pipelines.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_service_connections_azure.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_service_connections_github.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_variables.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
  e2e_samples/parking_sensors/scripts/init_environment.sh
Labels: e2e: parking-sensors-databricks

#954 Upgrading bicep templates #886
  e2e_samples/parking_sensors/infrastructure/modules/actiongroup.bicep
  e2e_samples/parking_sensors/infrastructure/modules/alerts.bicep
  e2e_samples/parking_sensors/infrastructure/modules/appinsights.bicep
  e2e_samples/parking_sensors/infrastructure/modules/dashboard.bicep
  e2e_samples/parking_sensors/infrastructure/modules/data_quality_workbook.bicep
  e2e_samples/parking_sensors/infrastructure/modules/databricks.bicep
  e2e_samples/parking_sensors/infrastructure/modules/datafactory.bicep
  e2e_samples/parking_sensors/infrastructure/modules/diagnostic_settings.bicep
  e2e_samples/parking_sensors/infrastructure/modules/keyvault.bicep
  e2e_samples/parking_sensors/infrastructure/modules/log_analytics.bicep
  e2e_samples/parking_sensors/infrastructure/modules/storage.bicep
  e2e_samples/parking_sensors/infrastructure/modules/synapse_sql_pool.bicep
Labels: P1, e2e: parking-sensors-databricks

#964 [Fabric E2E Sample] Add ADLS Connection Creation
  e2e_samples/fabric_dataops_sample/.envtemplate
  e2e_samples/fabric_dataops_sample/README.md
  e2e_samples/fabric_dataops_sample/cleanup.sh
  e2e_samples/fabric_dataops_sample/deploy.sh
  e2e_samples/fabric_dataops_sample/images/cloud-connection-adls-gen2.png
  e2e_samples/fabric_dataops_sample/images/fetching-connection-id.png
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/outputs.tf
  e2e_samples/fabric_dataops_sample/scripts/cleanup_infrastructure.sh
  e2e_samples/fabric_dataops_sample/scripts/deploy_infrastructure.sh
Labels: e2e: fabric

#977 [Databrics E2E] Feature PR fixes
  e2e_samples/parking_sensors/scripts/clean_up.sh
  e2e_samples/parking_sensors/scripts/common.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_pipelines.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_service_connections_azure.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_service_connections_github.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_variables.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
  e2e_samples/parking_sensors/scripts/init_environment.sh
Labels: e2e: parking-sensors-databricks

#970 [E2E Databricks]: feat: improving deployment experience and functionality
  e2e_samples/parking_sensors/.devcontainer/Dockerfile
  e2e_samples/parking_sensors/.devcontainer/post_create.sh
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/databricks/config/cluster.config.json
  e2e_samples/parking_sensors/deploy.sh
  e2e_samples/parking_sensors/docs/images/ADFRun.png
  e2e_samples/parking_sensors/docs/images/CI_CD_process.png
  e2e_samples/parking_sensors/docs/images/CI_CD_process_sequence.png
  e2e_samples/parking_sensors/docs/images/PBI_parking_sensors.png
  e2e_samples/parking_sensors/docs/images/ReleasePipeline.png
  e2e_samples/parking_sensors/docs/images/architecture.png
  e2e_samples/parking_sensors/infrastructure/main.bicep
  e2e_samples/parking_sensors/infrastructure/modules/actiongroup.bicep
  e2e_samples/parking_sensors/infrastructure/modules/alerts.bicep
  e2e_samples/parking_sensors/infrastructure/modules/appinsights.bicep
  e2e_samples/parking_sensors/infrastructure/modules/dashboard.bicep
  e2e_samples/parking_sensors/infrastructure/modules/data_quality_workbook.bicep
  e2e_samples/parking_sensors/infrastructure/modules/databricks.bicep
  e2e_samples/parking_sensors/infrastructure/modules/datafactory.bicep
  e2e_samples/parking_sensors/infrastructure/modules/diagnostic_settings.bicep
  e2e_samples/parking_sensors/infrastructure/modules/keyvault.bicep
  e2e_samples/parking_sensors/infrastructure/modules/log_analytics.bicep
  e2e_samples/parking_sensors/infrastructure/modules/storage.bicep
  e2e_samples/parking_sensors/infrastructure/modules/synapse_sql_pool.bicep
  e2e_samples/parking_sensors/scripts/clean_up.sh
  e2e_samples/parking_sensors/scripts/common.sh
  e2e_samples/parking_sensors/scripts/configure_databricks.sh
  e2e_samples/parking_sensors/scripts/deploy_adf_artifacts.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_pipelines.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_service_connections_azure.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_service_connections_github.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_variables.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
  e2e_samples/parking_sensors/scripts/init_environment.sh
Labels: bug, documentation, P0, e2e: parking-sensors-databricks, capability: CI/CD, feature

#965 [Fabric E2E Sample] Terraform version upgrade
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/adls/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/appinsights/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/capacity/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/capacity/variables.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/capacity/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/data_pipeline/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/domain/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/domain_role_assignments/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/domain_workspace_assignments/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/environment/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/eventhouse/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/git_integration/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/kql_database/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/lakehouse/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/notebook/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_custom_pool/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_environment_settings/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_workspace_settings/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/warehouse/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/workspace/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/workspace_role_assignment/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/keyvault/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/keyvault_secret/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/loganalytics/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/role_assignment/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/providers.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/versions.tf
Labels: e2e: fabric

#971 Fabric E2E sample | Verify pre-requisites
  e2e_samples/fabric_dataops_sample/deploy.sh
  e2e_samples/fabric_dataops_sample/scripts/verify_prerequisites.sh
Labels: e2e: fabric
