Repository Azure-Samples/modern-data-warehouse-dataops, pull requests merged in 2025-02, with the labels that each got.

#1073 [Fabric E2E Sample] | Fake Data for Fabric e2e sample | Based on Redmond coordinates
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/data/README.md
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/data/parking_bay_data.json
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/data/parking_sensor_data.json
Labels: e2e: fabric

#1075 [Fabric E2E Sample] Automate AzDo Pipelines Creation
  e2e_samples/fabric_dataops_sample/.envtemplate
  e2e_samples/fabric_dataops_sample/README.md
  e2e_samples/fabric_dataops_sample/deploy.sh
  e2e_samples/fabric_dataops_sample/devops/azure-pipelines-ci-artifacts.yml
  e2e_samples/fabric_dataops_sample/devops/deploy_infra.yml
  e2e_samples/fabric_dataops_sample/devops/templates/jobs/publish-adls-artifacts.yml
  e2e_samples/fabric_dataops_sample/devops/templates/jobs/publish-fabric-env-artifacts.yml
  e2e_samples/fabric_dataops_sample/devops/templates/pipelines/azure-pipelines-ci-artifacts.yml
  e2e_samples/fabric_dataops_sample/devops/templates/pipelines/azure-pipelines-ci-qa-cleanup.yml
  e2e_samples/fabric_dataops_sample/devops/templates/pipelines/azure-pipelines-ci-qa.yml
  e2e_samples/fabric_dataops_sample/docs/issues_limitations_and_workarounds.md
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/capacity/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/data_pipeline/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/data_pipeline/variables.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/data_pipeline/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/domain/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/domain_role_assignments/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/domain_workspace_assignments/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/environment/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/git_integration/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/lakehouse/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/notebook/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/notebook/variables.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/notebook/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_custom_pool/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_environment_settings/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_workspace_settings/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_workspace_settings/variables.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_workspace_settings/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/workspace/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/workspace_role_assignment/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/providers.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/versions.tf
  e2e_samples/fabric_dataops_sample/prepare_azure_repo.sh
  e2e_samples/fabric_dataops_sample/scripts/cleanup_infrastructure.sh
  e2e_samples/fabric_dataops_sample/scripts/deploy_azdo_pipelines.sh
  e2e_samples/fabric_dataops_sample/scripts/verify_prerequisites.sh
Labels: e2e: fabric

#1074 [Fabric E2E Sample] | Code refactoring based on new fake data.
  e2e_samples/fabric_dataops_sample/docs/issues_limitations_and_workarounds.md
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/data/MelbParkingBayData.json
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/data/MelbParkingSensorData.json
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/data/dim_location.json
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/data/dim_parking_bay.json
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/data/dim_st_marker.json
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/data/interim_parking_bay.json
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/data/interim_sensor.json
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/data/parking_bay_data.json
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/data/parking_sensor_data.json
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/test_standardize.py
  e2e_samples/fabric_dataops_sample/libraries/test/ddo_transform/test_transform.py
  e2e_samples/fabric_dataops_sample/src/notebooks/00_setup.ipynb
  e2e_samples/fabric_dataops_sample/src/notebooks/02_standardize.ipynb
Labels: e2e: fabric

#1081 [Fabric E2E Sample] Improving README.md
  e2e_samples/fabric_dataops_sample/README.md
  e2e_samples/fabric_dataops_sample/docs/issues_limitations_and_workarounds.md
  e2e_samples/fabric_dataops_sample/docs/known_issues_limitations_and_faqs.md
  e2e_samples/fabric_dataops_sample/images/application-enterprise-object-id.png
  e2e_samples/fabric_dataops_sample/images/branch-out-to-new-workspace.gif
  e2e_samples/fabric_dataops_sample/images/create-pr.gif
  e2e_samples/fabric_dataops_sample/images/creating-onelake-shortcut.gif
  e2e_samples/fabric_dataops_sample/images/dev-container.png
  e2e_samples/fabric_dataops_sample/images/make-workspace-changes.gif
  e2e_samples/fabric_dataops_sample/images/missing-lakehouse-environment.png
  e2e_samples/fabric_dataops_sample/images/pipeline-interactive-login.png
  e2e_samples/fabric_dataops_sample/images/published-artifacts.gif
  e2e_samples/fabric_dataops_sample/images/storage-error.png
  e2e_samples/fabric_dataops_sample/images/trigger-cleanup-pipeline.gif
  e2e_samples/fabric_dataops_sample/images/uncommitted-environment.gif
  e2e_samples/fabric_dataops_sample/prepare_azure_repo.sh
  e2e_samples/fabric_dataops_sample/scripts/cleanup_infrastructure.sh
  e2e_samples/fabric_dataops_sample/scripts/deploy_azdo_pipelines.sh
Labels: documentation, e2e: fabric

#1109 [Fabric E2E] | Environment status code & CI Pipeline name fixes
  e2e_samples/fabric_dataops_sample/.envtemplate
  e2e_samples/fabric_dataops_sample/deploy.sh
  e2e_samples/fabric_dataops_sample/devops/scripts/update_environment.py
  e2e_samples/fabric_dataops_sample/devops/templates/pipelines/azure-pipelines-ci-qa.yml
  e2e_samples/fabric_dataops_sample/docs/known_issues_limitations_and_faqs.md
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/providers.tf
  e2e_samples/fabric_dataops_sample/scripts/cleanup_infrastructure.sh
  e2e_samples/fabric_dataops_sample/scripts/deploy_azdo_pipelines.sh
  e2e_samples/fabric_dataops_sample/scripts/setup_fabric_environment.py
Labels: bug, e2e: fabric

#1113 [E2E Databricks] - fix photon change and ci guidance
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/deploy.sh
  e2e_samples/parking_sensors/scripts/configure_databricks.sh
Labels: bug, e2e: parking-sensors-databricks
