Repository Azure-Samples/modern-data-warehouse-dataops, pull requests merged in 2025-01, with the labels that each got.

#994 [Fabric E2E Sample] ddo transform module upload
  e2e_samples/fabric_dataops_sample/config/fabric_environment/ddo_transform_standardize.py
  e2e_samples/fabric_dataops_sample/config/fabric_environment/ddo_transform_transform.py
  e2e_samples/fabric_dataops_sample/scripts/setup_fabric_environment.py
  e2e_samples/fabric_dataops_sample/src/notebooks/02_standardize.ipynb
  e2e_samples/fabric_dataops_sample/src/notebooks/03_transform.ipynb
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/MelbParkingBayData.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/MelbParkingSensorData.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/dim_location.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/dim_parking_bay.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/dim_st_marker.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/interim_parking_bay.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/interim_sensor.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/test_standardize.py
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/test_transform.py
Labels: e2e: fabric

#991 [Fabric E2E Sample] Add AzDO Variable Group creation to deployment
  e2e_samples/fabric_dataops_sample/README.md
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/data.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/locals.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/azure_devops/variable_group/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/azure_devops/variable_group/outputs.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/azure_devops/variable_group/variables.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/azure_devops/variable_group/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/providers.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/versions.tf
  e2e_samples/fabric_dataops_sample/scripts/deploy_infrastructure.sh
Labels: e2e: fabric

#1006 [Databricks E2E Sample] - bug fix dbx compute
  .github/workflows/broken-hyperlinks-check.yml
  e2e_samples/parking_sensors/scripts/configure_databricks.sh
Labels: bug, P0, e2e: parking-sensors-databricks

#959 [Fabric E2E Sample] Added updates on notebook and pipeline
  e2e_samples/fabric_dataops_sample/config/application.cfg.template
  e2e_samples/fabric_dataops_sample/config/fabric_environment/ddo_transform_standardize.py
  e2e_samples/fabric_dataops_sample/config/fabric_environment/ddo_transform_transform.py
  e2e_samples/fabric_dataops_sample/config/fabric_environment/environment.yml
  e2e_samples/fabric_dataops_sample/config/lakehouse_ddls.yaml
  e2e_samples/fabric_dataops_sample/scripts/setup_fabric_environment.py
  e2e_samples/fabric_dataops_sample/src/notebooks/00_setup.ipynb
  e2e_samples/fabric_dataops_sample/src/notebooks/02_standardize.ipynb
  e2e_samples/fabric_dataops_sample/src/notebooks/03_transform.ipynb
  e2e_samples/fabric_dataops_sample/src/pipelines/00-main.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/MelbParkingBayData.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/MelbParkingSensorData.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/dim_location.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/dim_parking_bay.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/dim_st_marker.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/interim_parking_bay.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/data/interim_sensor.json
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/test_standardize.py
  e2e_samples/fabric_dataops_sample/src/tests/ddo_transform/test_transform.py
Labels: e2e: fabric

#999 [Fabric E2E Sample] Multi-environment deployment
  .gitignore
  e2e_samples/fabric_dataops_sample/.envtemplate
  e2e_samples/fabric_dataops_sample/README.md
  e2e_samples/fabric_dataops_sample/cleanup.sh
  e2e_samples/fabric_dataops_sample/deploy.sh
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/locals.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/adls/main.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/variables.tf
  e2e_samples/fabric_dataops_sample/scripts/cleanup_infrastructure.sh
  e2e_samples/fabric_dataops_sample/scripts/configure_resource_groups.sh
  e2e_samples/fabric_dataops_sample/scripts/deploy_infrastructure.sh
  e2e_samples/fabric_dataops_sample/scripts/verify_prerequisites.sh
Labels: e2e: fabric

#1008 [Fabric E2E Sample] Enabling High concurrency execution for notebooks/pipelines
  e2e_samples/fabric_dataops_sample/README.md
  e2e_samples/fabric_dataops_sample/docs/issues_limitations_and_workarounds.md
  e2e_samples/fabric_dataops_sample/images/data-pipeline-execution.png
  e2e_samples/fabric_dataops_sample/src/notebooks/00_setup.ipynb
  e2e_samples/fabric_dataops_sample/src/notebooks/02_standardize.ipynb
  e2e_samples/fabric_dataops_sample/src/notebooks/03_transform.ipynb
  e2e_samples/fabric_dataops_sample/src/pipelines/00-main.json
Labels: e2e: fabric

#1014 E2e/databricks/parkingsensor v1 lilem
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/scripts/clean_up.sh
  e2e_samples/parking_sensors/scripts/common.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_service_connections_azure.sh
Labels: e2e: parking-sensors-databricks

#1019 [Databricks E2E] [BUG]: Clean Up should Delete App Registration
  e2e_samples/parking_sensors/scripts/clean_up.sh
Labels: e2e: parking-sensors-databricks

#1047 [Databricks E2E] [BUG] cleanup fix bug with federated credential removal
  e2e_samples/parking_sensors/scripts/clean_up.sh
  e2e_samples/parking_sensors/scripts/common.sh
Labels: e2e: parking-sensors-databricks

#1054 Adding repo setup script
  e2e_samples/fabric_dataops_sample/.envtemplate
  e2e_samples/fabric_dataops_sample/README.md
  e2e_samples/fabric_dataops_sample/images/azure-repo-directory-structure.png
  e2e_samples/fabric_dataops_sample/prepare_azure_repo.sh
  e2e_samples/fabric_dataops_sample/scripts/cleanup_infrastructure.sh
  e2e_samples/fabric_dataops_sample/scripts/deploy_infrastructure.sh
  e2e_samples/fabric_dataops_sample/scripts/setup_azdo_repository.py
  e2e_samples/fabric_dataops_sample/scripts/setup_repository.py
Labels: e2e: fabric

#1057 [Databricks E2E]: Remove AzDO Service Connection Principal
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/scripts/clean_up.sh
  e2e_samples/parking_sensors/scripts/common.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_service_connections_azure.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
Labels: bug, e2e: parking-sensors-databricks

#911 Databricks Sample - Terraform IaC for Azure Databricks and Asset Bundle Deployment via CI/CD
  single_tech_samples/databricks/README.md
  single_tech_samples/databricks/databricks_terraform/.devcontainer/Dockerfile
  single_tech_samples/databricks/databricks_terraform/.devcontainer/devcontainer.json
  single_tech_samples/databricks/databricks_terraform/.github/workflows/adb-asset-bundle-dev-deployment.yml
  single_tech_samples/databricks/databricks_terraform/.github/workflows/adb-asset-bundle-linting.yml
  single_tech_samples/databricks/databricks_terraform/.github/workflows/adb-asset-bundle-sandbox-deployment.yml
  single_tech_samples/databricks/databricks_terraform/Infra/README.md
  single_tech_samples/databricks/databricks_terraform/Infra/deployment/.env_example
  single_tech_samples/databricks/databricks_terraform/Infra/deployment/dev.deploy.sh
  single_tech_samples/databricks/databricks_terraform/Infra/deployment/dev.destroy.sh
  single_tech_samples/databricks/databricks_terraform/Infra/modules/adb-unity-catalog/locals.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/adb-unity-catalog/main.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/adb-unity-catalog/providers.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/adb-unity-catalog/variables.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/adb-workspace/locals.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/adb-workspace/main.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/adb-workspace/outputs.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/adb-workspace/providers.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/adb-workspace/variables.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/metastore-and-users/locals.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/metastore-and-users/main.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/metastore-and-users/outputs.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/metastore-and-users/provider.tf
  single_tech_samples/databricks/databricks_terraform/Infra/modules/metastore-and-users/variables.tf
  single_tech_samples/databricks/databricks_terraform/README.md
  single_tech_samples/databricks/databricks_terraform/Taskfile.yml
  single_tech_samples/databricks/databricks_terraform/databricks.yml
  single_tech_samples/databricks/databricks_terraform/images/architecture.png
  single_tech_samples/databricks/databricks_terraform/images/databricks-asset-bundle-deploymeny-pipeline.png
  single_tech_samples/databricks/databricks_terraform/requirements-dev.txt
  single_tech_samples/databricks/databricks_terraform/ruff.toml
  single_tech_samples/databricks/databricks_terraform/tests/hello_test.py
  single_tech_samples/databricks/databricks_terraform/utils/generate-databricks-workflows.sh
  single_tech_samples/databricks/databricks_terraform/workflows/hello_test.job.yml
Labels: single-tech: azure-databricks

#1049 Deploy.sh will have the option to choose deployment type
  e2e_samples/parking_sensors/.devcontainer/.envtemplate
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/deploy.sh
  e2e_samples/parking_sensors/scripts/common.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_pipelines.sh
  e2e_samples/parking_sensors/scripts/init_environment.sh
Labels: e2e: parking-sensors-databricks

#1056 [Databricks E2E] Redesign CI CD Process diagrams with drawio
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/docs/images/CI_CD_process.drawio.png
  e2e_samples/parking_sensors/docs/images/CI_CD_process.png
  e2e_samples/parking_sensors/docs/images/CI_CD_process_sequence.drawio.png
  e2e_samples/parking_sensors/docs/images/CI_CD_process_sequence.png
Labels: e2e: parking-sensors-databricks

#1066 [Databricks E2E] [BUG] fix sql pool resize on re-deployment
  e2e_samples/parking_sensors/infrastructure/modules/synapse_sql_pool.bicep
Labels: e2e: parking-sensors-databricks

#1040 [Databricks E2E] Fix devcontainer for wheel library builds
  e2e_samples/parking_sensors/databricks/libs/ddo_transform-localdev-py2.py3-none-any.whl
  e2e_samples/parking_sensors/src/ddo_transform/.devcontainer/Dockerfile
  e2e_samples/parking_sensors/src/ddo_transform/.devcontainer/docker-compose.yml
  e2e_samples/parking_sensors/src/ddo_transform/.env
  e2e_samples/parking_sensors/src/ddo_transform/Dockerfile
Labels: bug, e2e: parking-sensors-databricks

#1064 [E2E Databricks] - fix clusterId and release folders
  e2e_samples/parking_sensors/.devcontainer/post_create.sh
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/devops/templates/jobs/deploy-databricks-job.yml
  e2e_samples/parking_sensors/scripts/configure_databricks.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_variables.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
Labels: bug, e2e: parking-sensors-databricks

#1072 fix: py extension on adf pipeline
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
Labels: bug, e2e: parking-sensors-databricks
