Repository Azure-Samples/modern-data-warehouse-dataops, pull requests merged in 2025-03, with the labels that each got.

#1149 Updated ReadMe to include legal disclaimer about Microsoft Financial Information.
  README.md
Labels: documentation

#1152 [E2E Databricks] : Adding unity catalog
  e2e_samples/parking_sensors/.devcontainer/post_create.sh
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/adf/pipeline/P_Ingest_ParkingData.json
  e2e_samples/parking_sensors/databricks/config/catalog.external.location.json
  e2e_samples/parking_sensors/databricks/config/cluster.config.json
  e2e_samples/parking_sensors/databricks/config/data.external.location.json
  e2e_samples/parking_sensors/databricks/config/job.setup.config.json
  e2e_samples/parking_sensors/databricks/config/storage.credential.json
  e2e_samples/parking_sensors/databricks/config/uc.json
  e2e_samples/parking_sensors/databricks/notebooks/00_setup.py
  e2e_samples/parking_sensors/databricks/notebooks/01_explore.py
  e2e_samples/parking_sensors/databricks/notebooks/02_standardize.py
  e2e_samples/parking_sensors/databricks/notebooks/03_transform.py
  e2e_samples/parking_sensors/devops/templates/jobs/deploy-databricks-job.yml
  e2e_samples/parking_sensors/docs/images/unity-catalog-architecture.drawio.png
  e2e_samples/parking_sensors/docs/images/unity-catalog-architecture.drawio.svg
  e2e_samples/parking_sensors/scripts/clean_up.sh
  e2e_samples/parking_sensors/scripts/configure_databricks.sh
  e2e_samples/parking_sensors/scripts/configure_unity_catalog.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_variables.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
Labels: e2e: parking-sensors-databricks, feature

#1166 [E2E Databricks] - Unity Catalog
  e2e_samples/parking_sensors/.devcontainer/post_create.sh
  e2e_samples/parking_sensors/README.md
  e2e_samples/parking_sensors/adf/pipeline/P_Ingest_ParkingData.json
  e2e_samples/parking_sensors/databricks/config/catalog.external.location.json
  e2e_samples/parking_sensors/databricks/config/cluster.config.json
  e2e_samples/parking_sensors/databricks/config/data.external.location.json
  e2e_samples/parking_sensors/databricks/config/job.setup.config.json
  e2e_samples/parking_sensors/databricks/config/storage.credential.json
  e2e_samples/parking_sensors/databricks/config/uc.json
  e2e_samples/parking_sensors/databricks/notebooks/00_setup.py
  e2e_samples/parking_sensors/databricks/notebooks/01_explore.py
  e2e_samples/parking_sensors/databricks/notebooks/02_standardize.py
  e2e_samples/parking_sensors/databricks/notebooks/03_transform.py
  e2e_samples/parking_sensors/devops/templates/jobs/deploy-databricks-job.yml
  e2e_samples/parking_sensors/docs/images/unity-catalog-architecture.drawio.png
  e2e_samples/parking_sensors/docs/images/unity-catalog-architecture.drawio.svg
  e2e_samples/parking_sensors/scripts/clean_up.sh
  e2e_samples/parking_sensors/scripts/configure_databricks.sh
  e2e_samples/parking_sensors/scripts/configure_unity_catalog.sh
  e2e_samples/parking_sensors/scripts/deploy_azdo_variables.sh
  e2e_samples/parking_sensors/scripts/deploy_infrastructure.sh
Labels: e2e: parking-sensors-databricks, feature

#1175 build(fabric_dataops_sample): bump versions, mark secrets in azdo pipelines
  .github/workflows/code_quality_checks.yaml
  .github/workflows/credscan.yml
  .gitignore
  e2e_samples/fabric_dataops_sample/devops/scripts/requirements.txt
  e2e_samples/fabric_dataops_sample/devops/templates/jobs/publish-adls-artifacts.yml
  e2e_samples/fabric_dataops_sample/devops/templates/pipelines/azure-pipelines-ci-qa-cleanup.yml
  e2e_samples/fabric_dataops_sample/devops/templates/pipelines/azure-pipelines-ci-qa.yml
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/adls/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/appinsights/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/azure_devops/service_endpoint_azurerm/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/azure_devops/variable_group/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/azure_devops/variable_group_keyvault/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/capacity/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/data_pipeline/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/domain/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/domain_role_assignments/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/domain_workspace_assignments/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/environment/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/git_integration/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/lakehouse/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/notebook/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_custom_pool/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_environment_settings/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/spark_workspace_settings/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/workspace/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/fabric/workspace_role_assignment/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/keyvault/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/keyvault_secret/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/loganalytics/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/modules/role_assignment/versions.tf
  e2e_samples/fabric_dataops_sample/infrastructure/terraform/versions.tf
  e2e_samples/fabric_dataops_sample/libraries/requirements.txt
Labels: e2e: fabric

#1188 Add permissions for CodeQL scanning
  .github/workflows/bicep-audit.yml
  dependabot.yml
Labels: bug
